<div class="wrapper container col-md-11 col-lg-9 col-xl-7">
    <div class="card">
        <div class="card-body">
            <!-- <h5 class="card-title">Signup</h5> -->
            <form [formGroup]="form">
                <fieldset>
                    <div class="form-label-group">
                        <input type="text" formControlName="firstName" class="form-control" id="firstName"
                            placeholder="First Name" readonly>
                        <label for="firstName">First Name</label>
                    </div>
                    <div class="form-label-group">
                        <input type="text" formControlName="lastName" class="form-control" id="lastName"
                            placeholder="Last Name" readonly>
                        <label for="lastName">Last Name</label>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-label-group">
                        <input type="text" formControlName="address" class="form-control" id="address"
                            placeholder="Address">
                        <label for="address">Address</label>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="form-label-group">
                                <input type="text" formControlName="city" class="form-control" id="city"
                                    placeholder="City">
                                <label for="city">City</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-label-group">
                                <input type="text" formControlName="province" class="form-control" id="province"
                                    placeholder="Province" readonly>
                                <label for="province">Province</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-label-group">
                                <input type="text" formControlName="postalCode" class="form-control" id="postalCode"
                                    placeholder="Postal Code">
                                <label for="postalCode">Postal Code</label>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <div class="row">
                    <div class="col-12">
                        <button type="button" id="signup" class="btn btn-primary btn-lg btn-block" (click)="signup()">
                            Signup
                        </button>
                    </div>
                </div>
            </form>
            <ng-container *ngIf="messages?.length">
                <ul>
                    <li *ngFor="let m of messages">{{ m }}</li>
                </ul>
            </ng-container>
        </div>
    </div>
</div>