<div class="wrapper container col-md-11 col-lg-9 col-xl-7">
    <div class="card border-light">
        <div class="card-body">
            <h5 class="card-title">{{ 'home.title' | translate }}</h5>
            <p class="card-text">{{ 'home.content' | translate }}</p>
            <form>
                <div class="row">
                    <div class="col-12">
                        <button type="button" id="signup" class="btn btn-outline-primary btn-lg btn-block"
                            (click)="enter()">
                            {{ 'home.form.enter-button-text' | translate }}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>