header {
    z-index: 1;

    .navbar-settings {
        display: flex;
        flex-direction: row;
        align-items: center;
        .language {
            margin: 0 0 0 0.5rem;
            a:hover {
                cursor: pointer;
            }
        }
    }
}

main {
    display: grid;
    width: 100vw;
    height: 100vh;
    padding-top: 56px;
    grid-template-rows: 0fr auto;
}