:host {
    display: contents;
}

.wrapper {
    display: grid;
    grid-template-columns: 275px auto;
    overflow: auto;

    aside {
        overflow: scroll;
        display: grid;
        grid:
            'users' 1fr
            'footer' auto;

        .avatar {
            width: 36px;
            height: 36px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: x-large;
            border: 1px solid lightgray;
            border-radius: 0.25rem;
        }

        .media-body {
            font-size: small;

            .province {
                color: gray;
            }
        }
    
        footer {
            grid-area: 'footer';
            padding: 0.25rem;
            position: sticky;
            background: white;
            bottom: 0;
            display: flex;
            justify-content: center;
            color: gray;
            font-size: small;
        }
    }

    .main {
        border-left: 1px solid lightgray;
        overflow: hidden;
        display: grid;
        grid:
            'chat' 1fr
            'chat-form' auto;

        .chat {
            grid-area: 'chat';
            overflow: scroll;
            display: flex;
            flex-flow: column nowrap;

            .message-list {
                margin-top: auto;

                .message {
                    .message-header {
                        font-size: small;
                        .username {
                            font-weight: bold;
                        }
                        .sent-date {
                            color: gray;
                        }
                    }

                    .message-content {
                        margin-bottom: 0;
                    }
                }
            }
        }
        
        .chat-form {
            grid-area: 'chat-form';
            position: sticky;
            bottom: 0;
            background-color: white;
            padding: 1rem;
        }
    }
}

#sendMessage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    button {
        margin-left: 1rem;
    }
}

/* For tablets: */
@media only screen and (max-width: 768px) {
    .wrapper {
        grid-template-columns: auto;

        aside {
            display: none;
        }

        .main {
            .chat-form {
                padding: 0.5rem;
            }
        }

        #sendMessage {    
            button {
                margin-left: 0.5rem;
            }
        }
    }
}


/* For mobile phones: */
@media only screen and (max-width: 384px) {
    .wrapper {    
        .main {
            .chat-form {
                padding: 0.25rem;
            }
        }
    }

    #sendMessage {    
        button {
            margin-left: 0.25rem;
        }
    }
}