<div class="wrapper">
    <aside *ngIf="users$ | async as users">
        <div class="users">
            <ul class="list-unstyled">
                <li class="media" *ngFor="let user of users">
                    <span class="avatar m-1 p-3">{{ user?.firstName?.substring(0, 1) | uppercase }}</span>
                    <div class="media-body">
                        <div class="name mt-1">{{ user?.firstName }}&nbsp;{{ user?.lastName }}</div>
                        <div class="province mb-1">{{ user?.province }}</div>
                    </div>
                </li>
            </ul>
        </div>
        <footer>
            <div translate [translateParams]="{ count: users?.length || '0' | number }">chat.users</div>
        </footer>
    </aside>

    <div class="main">
        <div class="chat" #chat [scrollTop]="chat.scrollHeight - chat.clientHeight">
            <div class="message m-2" *ngFor="let message of messages$ | async">
                <div class="message-wrapper">
                    <div class="message-header">
                        <span class="username"
                            [title]="message?.user?.province">{{ message?.user?.firstName }}&nbsp;{{ message?.user?.lastName }}</span>
                        <span class="sent-date ml-1">({{ message?.createdAt | date:'MMM dd, hh:mm:ss' }})</span>
                    </div>
                    <p class="message-content">{{ message?.text }}</p>
                </div>
            </div>
        </div>
        <div class="chat-form" *ngIf="userData$ | async as user">
            <form>
                <div id="sendMessage">
                    <input #message type="text" name="text" class="form-control">
                    <button class="btn btn-outline-primary"
                        (click)="sendMessage(message.value, user); message.value = ''">
                        {{ 'chat.form.send-button-text' | translate }}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>