/* You can add global styles to this file, and also import other style files */

body {
    font-family: Avenir,Helvetica,Arial,sans-serif;
}

// .navbar-language {
//     display: flex;
//     justify-content: flex-end;
// }

.form-check {
    position: relative;
    display: flex;
    padding-left: 1.25rem;
    flex-direction: row;
    align-items: center;
}

.form-check-input {
    position: absolute;
    margin-top: 0;
    margin-left: -1.25rem;
    width: 1rem;
    height: 1rem;
}

.form-check-label {
    margin-bottom: 0;
    margin-left: 0.25rem;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-label-group input, .form-label-group label {
    height: 3.125rem;
    padding: .75rem;
}

.form-label-group label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    line-height: 1.5;
    color: #777;
    pointer-events: none;
    cursor: text;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
}

.form-label-group input::placeholder {
    color: transparent;
  }

.form-label-group input:not(:placeholder-shown) ~ label {
    padding-top: .25rem;
    padding-bottom: .25rem;
    font-size: 12px;
    color: #777;
}

.form-label-group input:not(:placeholder-shown) {
    padding-top: 1.25rem;
    padding-bottom: .25rem;
}